.overlay{
	position: fixed;
	z-index: 1;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.close-popup{
	cursor: pointer;
	position: absolute;
	border: 2px solid @main_color;
	background-color: #ccc;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: -12px;
	right: -12px;
	&::before, &::after{
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		right: -5px;
		height: 2px;
		width: 27px;
		background-color: @main_color;
		transform-origin: 0 0 0;
		transform: rotateZ(45deg);
	}
	&::after{
		transform: rotateZ(-45deg);
		top: 22px;
		right: -4px;
	}
}

.popup{
	position: absolute;
	width: 450px;
	// height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 2px solid @main_color;
	border-radius: 10px;
	background-color: #f6f6f6;
	padding: 40px 30px;
	& h3{
		color: @h_color;
		font-size: 24px;
		font-family: @semibold;
		margin-bottom: 25px;
	}
	& p{
		color: #333;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;
	}
	form{
		display: flex;
		flex-direction: column;
		& input{
			margin-bottom: 15px;
			height: 30px;
			border-radius: 4px;
			border: 1px solid #cccccc;
			outline: none;
			padding: 0 10px;
			&::placeholder{
				text-transform: capitalize;
				color: #888888;
			}
			&:focus::placeholder{
				color: transparent;
			}
			&:focus:invalid{
				color: red;
				border: 1px solid red;
			}
			&:valid{
				border: 1px solid #fcc2c5;
			}
		}
		& button{
			cursor: pointer;
			height: 30px;
			border: none;
			background-color: @main_color;
			text-transform: uppercase;
			color: #fff;
			font-family: @semibold;
			font-size: 18px;
			border-radius: 4px;
			outline: none;
			box-shadow: 2px 5px 10px rgba(0,0,0,.6),-5px 0px 10px rgba(0,0,0,.2);
			&:active{
				box-shadow: inset 1px 1px 0px rgba(255,255,255,1);
			}
		}
	}
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #f6f6f6;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	& h2{
		font-size: 26px;
		margin-bottom: 20px;
	}
	& p{
		text-align: center;
		font-family: @semibold;
		line-height: 26px;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 20px;
		color: @h_color;
	}
}
.modal .btn-modal{
	border-width: 2px;
	display: block;
	margin: 0 auto;
	max-width: 150px;
	text-align: center; 
	border-radius: 3px;
	color: @main_color;
	font-family: @semibold;
	font-size: 16px;
	transition: color .4s;
	&:hover{
		color: #fff;
	}
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: color .4s;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}